<!DOCTYPE html>
<html>
  <head>
    <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="./layui/css/layui.css" media="all" />
  </head>
  <body>
    <div class="layui-container">  
     <!--  <div class="layui-row">
        <div class="layui-col-xs12"> -->
          <form class="layui-form" action="" style="margin-top:15px;">
            <div class="layui-form-item">
              <label class="layui-form-label">工作</label>
              <div class="layui-input-block">
                <input type="text" name="jobtitle" class="layui-input" id="jobtitle" value="<%=doc.jobtitle%>">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">记录</label>
              <div class="layui-input-block" id="">
                <input type="hidden" id="contentValue" value="<%=doc.jobrecord%>">
                <script type="text/plain" id="jobrecord"></script>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确认</button>
              </div>
            </div>
          </form>
        <!-- </div>
      </div> -->
    </div>
  </body>
    <script src="/nm/javascripts/jquery3.2.min.js"></script>
    <script src="/nm/javascripts/layui.all.js"></script>
    <script charset="utf-8" src="http://116.13.96.53:81/joblist/ueditor/ueditor.config.js"></script>
    <script charset="utf-8" src="http://116.13.96.53:81/joblist/ueditor/ueditor.all.js"></script>
    <script charset="utf-8" src="http://116.13.96.53:81/joblist/ueditor/lang/zh-cn/zh-cn.js"></script>

    <!-- <script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script> -->
    <script>
    $(document).ready(function() {
      let form = layui.form,$ = layui.$
      let _id = '<%-doc._id%>'
      console.log('_id',_id)
      let ue = UE.getEditor('jobrecord',{'initialFrameHeight':'250','initialFrameWidth':'100%'})
      ue.ready(function(){
        console.log('初始')
        let htmlStr = $('#contentValue').val()
        console.log('htmlStr',htmlStr)
        ue.setContent(htmlStr,false)
      })
      form.on('submit(formDemo)', function(data){

        console.log('data',data)
        data.field.jobrecord = ue.getContent()
        data.field._id = _id
        data.field.jobtitle = $('#jobtitle').val()
        //return false
        $.ajax({
          url:'/joblist/jobrecord',
          type:'POST',
          data:data.field,
          dataType : "json",
          success:function(result){
            if(result.code == 0){
              console.log('add success')
              //墨绿深蓝风
            let frameindex = layer.alert('ok', {
              skin: 'layui-layer-molv' //样式类名
              ,closeBtn: 0
            }, function(){
              layer.close(frameindex);
              //parent.layer.closeAll()
            });         
            }
          },
          error:function(msg){
            console.log('ajax error msg',msg)
          }
        })
        return false;
      });
    })
    </script>

</html>